*{
	margin: 0;
}
body{
	background-color:  #457992;
	font-family: 'Fira Sans', sans-serif;
	background-size: cover;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
nav{
	margin-top: 50px;
}
nav ul{
	list-style: none;
	text-align: center;

}
nav ul li{
	background-color: black;
	color: white;
	border-radius: 10px;
	display: inline;
	margin-right: 80px;
	padding: 20px 25px;

}
nav ul li:hover{
	cursor: pointer;
	background-color: white;
	color: black;
	transition: 0.5s;
	box-shadow: 5px 10px 15px;
}

.left-pane{
	background-color: black;
	margin-top: 50px;
	color: white;
	height: 800px;
	width: 25%;
	float: left;
	text-align: center;
	font-size: 50px;
	border-radius: 10px;
}

.right-pane{
	background-color:black;
	margin-top: 50px;
	color: white;
	height: 800px;
	width: 25%;
	float: left;
	text-align: center;
	font-size: 50px;
	border-radius: 10px;
	
}
.center{
	height: 800px;
	width: 50%;
	margin-top: 50px;
	float: left;
}
.prebody{
	background-color:white;
	height: 80px;
	text-align: center;
	font-size: 50px;
}
.body{
	background-color: lightgrey;
	color: black;
	height: 640px;
	text-align: center;
	font-size: 50px;
}
.postbody{
	background-color: white;
	color: black;
	height: 80px;
	text-align: center;
	font-size: 50px;
}